<div class="sticky-top">
  <div class="row">
      <div class="col-md-3 align-self-start sticky-top">
        <product-filter [category]="category"></product-filter>
       </div>
      <div class="col">
        <div class="row"  >
          <div  *ngFor="let p of filteredProducts"
            class="card col-md-6" style="width: 12rem; padding: 1.5rem">
              <img class="card-img-top" [src]="p.imageUrl">
                <div class="card-body">
                  <h5 class="card-title">{{ p.title }}</h5>
                  <p class="card-text">{{ p.price | currency:'INR':true}}</p> 
                </div>
                <div class="card-footer"><a href="#" class="btn btn-primary btn-block">Add to cart</a></div>
           </div>
            </div>
      </div>
  </div>
</div>





